.welcome-text {display: none;}

  .card-footer{
      background-color: #07ffaea1;
  }

a {
    color:#040d26
}

.bm--card-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.bm--card-equal-height .card-footer {
  margin-top: auto;
}